.theme {
    height: 6rem;
    width: 6rem;
    background-color: var(--gray);
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

.sun {
    display: block;
}
.moon {
    display: none;
}

[data-theme='dark'] .sun {
    display: none;
}
[data-theme='dark'] .moon {
    display: block;
}

@media (max-width: 84em) {
}
@media (max-width: 64em) {
}
@media (max-width: 48em) {
}
@media (max-width: 30em) {
}
