@import url('./reset.css');

:root {
    --background: #ffffff;
    --foreground: #000000;
    --white: #ffffff;
    --black: #000000;
    --gray: #e2e2e2;
    --darkGray: #999999;
    --radius: 1rem;
    --radiusLg: 2rem;
    --radiusXl: 3rem;
}

html {
    font-size: 62.5%;
    font-family: 'Geist';
}

body {
    background-color: var(--background);
}

h1 {
    font-size: 6.4rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
}

h2 {
    font-size: 4.2rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
}

h3 {
    font-size: 3.2rem;
    font-weight: 400;
    letter-spacing: -0.01rem;
}

h4 {
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: -0.01rem;
}

h5 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -0.01rem;
}

p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.6rem;
}

p.small {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
}

p.caption {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
}

p.footnote {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
}

.container {
    width: 100%;
    max-width: 136rem;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 84em) {
    .container {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}
@media (max-width: 64em) {
    html {
        font-size: 57.5%;
    }
}
@media (max-width: 48em) {
    h2 {
        font-size: 3.2rem;
    }
}
@media (max-width: 30em) {
}
